.Game {
    display: inline-block;
    position: relative;
    padding: 20px;
}

.Game-data, .Game-debug {
  padding: 10px;
  color: #EEE;
}

.Game-data span,
.Game-debug span {
  margin-right: 20px;
}

.Game-data span:last-child,
.Game-debug span:last-child {
  margin-right: 0;
}
