.GameData {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-right: 0.5%;
  border: none;
  background: #000;
}

.GameData.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.GameData.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
