.Tile {
  text-decoration: none;
  width: 85px;
  height: 85px;
  line-height: 85px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;

  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  color: #EEE;
  cursor: pointer;
  background: #000000;
}

@media only screen and (max-device-width: 667px) {
  .Tile {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 24px;
  }
}

.Tile:last-child {
  margin-right: 0;
}

.Tile.Tile-selected {
  background: #000000;
  color: #FCC88F;
}

.Tile-value-1 {
  background: #858179;
}
.Tile-value-2 {
  background: #87847B;
}
.Tile-value-3 {
  background: #8C8980;
}
.Tile-value-4 {
  background: #918E85;
}
.Tile-value-5 {
  background: #969389;
}
.Tile-value-6 {
  background: #A39F95;
}
.Tile-value-7 {
  background: #A8A49A;
}
.Tile-value-8 {
  background: #ADA99E;
}
.Tile-value-9 {
  background: #B8B3A8;
}
.Tile-value-10 {
  background: #968671;
}
.Tile-value-11 {
  background: #9C8A75;
}
.Tile-value-12 {
  background: #A18F79;
}
.Tile-value-13 {
  background: #A8967F;
}
.Tile-value-14 {
  background: #AD9A82;
}
.Tile-value-15 {
  background: #B29F86;
}
.Tile-value-16 {
  background: #BAA58C;
}
.Tile-value-17 {
  background: #BFAA90;
}
.Tile-value-18 {
  background: #C7B196;
}
.Tile-value-19 {
  background: #CCB599;
}
.Tile-value-20 {
  background: #3CD;
}
.Tile-value-21 {
  background: #433;
}
.Tile-value-22 {
  background: #533;
}
.Tile-value-23 {
  background: #633;
}
.Tile-value-24 {
  background: #733;
}
.Tile-value-25 {
  background: #833;
}
.Tile-value-26 {
  background: #933;
}
.Tile-value-27 {
  background: #A33;
}
.Tile-value-28 {
  background: #B33;
}
.Tile-value-29 {
  background: #C33;
}
